$i: 6;
@while $i > 0 {
  .item-#{$i}{
    width: 5px * $i;
  }
  $i:$i - 2;
}
$colors:(light:#ffff,dark:#0000);
@function color($key){
  @if not map-has-key($colors,$key){
    @warn "在$colors 里面没有找到#{$key} 这个key"
  }
  @return map-get($colors,$key);
}
body{
  background-color: color(dark);
  color:color(gray);
}
